<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- stylesheets --}}
  <link rel="stylesheet" media="(max-width: 800px)" href="/stylesMobile.css">
  <link rel="stylesheet" media="(min-width: 801px)" href="/stylesDesktop.css">
  {{!-- client side js --}}
  <script src="/index.js"></script>
</head>
<body>

  <div class="topContainer" id="topContainer">
    <div class="topLeftPanel"></div>
    <div class="topCenterPanel">
      <img id="chineseLogo" alt="Chinese logo" src="chineselogo.png">
    </div>
    <div class="topRightPanel">
      <input type="image" src="focusmodelogo.png" id="focusModeButton">
      <input type="image" src="nightmodelogo.png" id="nightModeButton">
    </div>
  </div>
  
  <div class="leftContainer" id="leftContainer">
    <input type="image" src="set1logo.png" id="set1Logo">
    <input type="image" src="set2logo.png" id="set2Logo">
    <input type="image" src="set3logo.png" id="set3Logo">
  </div>
  
  <div class="centerContainer" id="centerContainer">
    <input type="image" src="leftarrow.png" id="leftArrow">
    {{!-- TODO: hero character here, need handlebars here --}}
    <input type="image" src="rightarrow.png" id="rightArrow">
  </div>
  
  <div class="bottomContainer" id="bottomContainer">
    <div class="characterHistory">
      {{!-- TODO: character history here, need handlebars here --}}
    </div>
  </div>
  
</body>
{{!-- TODO: add client-side static interactivity with /index.js --}}
{{!-- TODO: focus mode toggles visibility: hidden and body color black --}}

