{{!-- this is a single-page app --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- i might need to fix the stylesheet links --}}
  <link rel="stylesheet" media="(max-width: 800px)" href="stylesMobile.css">
  {{!-- ipad is 768, can test mobile layout with ipad and desktop layout --}}
  {{!-- with browser --}}
  {{!-- also can see how rotating to landscape on ipad layout affects page --}}
  <link rel="stylesheet" media="(min-width: 801px)" href="stylesDesktop.css">
</head>

