{{!-- this is a single-page app --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- i might need to fix the stylesheet links --}}
  <link rel="stylesheet" media="(max-width: 800px)" href="stylesMobile.css">
  {{!-- ipad is 768, can test mobile layout with ipad and desktop layout --}}
  {{!-- with browser --}}
  {{!-- also can see how rotating to landscape on ipad layout affects page --}}
  <link rel="stylesheet" media="(min-width: 801px)" href="stylesDesktop.css">
</head>
<body>

  <div class="topContainer">
    <div class="topLeftPanel"></div>
    <div class="topCenterPanel">
      <img id="chineseLogo" alt="Chinese logo" src="chineseLogo.png">
    </div>
    <div class="topRightPanel">
      {{!-- contains toggle buttons for night mode and focus mode --}}
      <input type="image" src="focusModeLogo.png" id="focusModeButton">
      <input type="image" src="nightModeLogo.png" id="nightModeButton">
    </div>
  </div>
  
  <div class="leftContainer">
    <input type="image" src="set1Logo.png" id="set1Logo">
    <input type="image" src="set2Logo.png" id="set2Logo">
    <input type="image" src="set3Logo.png" id="set3Logo">
  </div>
  
  <div class="centerContainer">
    <div class="
  </div>
  
  <div class="bottomContainer">
    <div class="characterHistory"></div>
  </div>
  
</body>
