/* stylesDesktop.css: 801px or higher width */

body {
  background-color: #efefef;      /* light gray background */
}

// top container
.topContainer {
  top: 0%;
  left: 0%;
  right: 100%;
  bottom: 10%;
  background-color: #ffffff;
}
  .topLeftPanel {
    height: inherit;
  }
  .topCenterPanel {
    height: inherit;
  }
  #chineseLogo {
    width: 10%;
    height: 10%;
    left: 40%;
    right: 60%;
  }
  .topRightPanel {
    height: inherit;
  }
  #focusModeButton {
    width: 10%;
    height: 10%;
    left: 28%;
    right: 38%;
  }
  #nightModeButton {
    width: 10%;
    height: 10%;
    left: 61%;
    right: 71%;
  }

// left container
.leftContainer {
  top: 10%;
  left: 0%;
  right: 20%;
  bottom: 80%;
  border: 3% solid rgba(0,0,0,0);   /* transparent border */
  background-color: #ffffff;
  visibility: visible;
}
  #set1Button {
    top: 20%;
    left: 20%;
    right: 80%;
    bottom: 30%;
    visibility: inherit;
  }
  #set2Button {
    top: 45%;
    left: 20%;
    right: 80%;
    bottom: 55%;
    visibility: inherit;
  }
  #set3Button {
    top: 70%;
    left: 20%;
    right: 80%;
    bottom: 80%;
    visibility: inherit;
  }

// center container
.centerContainer {
  top: 10%;
  left: 20%;
  right: 100%;
  bottom: 80%;
  border: 3% solid rgba(0,0,0,0);
  background-color: #ffffff;
}

// bottom container
.bottomContainer {
  top: 80%;
  left: 0%;
  right: 100%;
  bottom: 100%;
  border: 3% solid rgba(0,0,0,0);
  background-color: #ffffff;
  visibility: visible;
}
  .characterHistory {
    top: 10%;
    left: 10%;
    right: 90%;
    bottom: 90%;
    overflow: auto;
    visibility: inherit;
  }

